/* CSS files add styling rules to your content */

@font-face {
  font-family: 'FT88';
  /* set name */
  src: url('FT88-Italic.otf');
  /* url of the font */
}



body {
  font-family: monospace;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 100px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  overflow: hidden;
}

section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 200px;
  width: 100%;
  margin: 0px auto;
}

#text {
  font-size: 100px;
  display: flex;
  align-items: center;
}

#container {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#startCaption {
  font-size: 20px;
  text-transform: lowercase;
  font-style: italic;
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
}

.fade {
  opacity: 0;
  transition: 0.5s opacity;
}